<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<title>Document</title>
	</head>
	<body>
		<form action="{{path("recherche")}}" method="Post">
			<label>min</label>
			<input type="text" name="min">
			<label>max</label>
			<input type="text" name="max">
			<input type="submit" value="recherche">


		</form>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>nb books</th>

					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for author in authors %}
					<tr>
						<td>{{ author.id }}</td>
						<td>{{ author.username }}</td>
						<td>{{ author.email }}</td>
						<td>{{ author.getNbBooks() }}</td>


						<td>
							<a href="{{ path('app_delete', { 'id': author.id }) }}" class="link-opacity-25-hover">Supprimer</a>


							<a href="{{ path('author_update', {'id': author.id}) }}">update</a>
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% endfor %}
</html></tbody></table><a href="{{ path('author_add') }}" class="btn btn-primary">Ajouter</a></body></html>
