{{dump (books)}}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<title>Document</title>
	</head>
	<body>
<form action="{{path("rechercheByID")}}" method="Post">
	<label>recherche by id</label>
	<input type="text" name="id">
	
	<input type="submit" value="recherche">


</form>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>

					<th>Title</th>
					<th>Publication date</th>
					<th>Published</th>
					<th>Category</th>
					<th>Author</th>
					<th>action</th>


				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td>{{ book.title }}</td>

						<td>{{ book.publicationDate|date('d/m/Y') }}</td>
						{%if book.enabled ==false%}
							<td>0</td>
							{%else%}
							<td>{{ book.enabled }}</td>
							{%endif%}
							<td>{{ book.category }}</td>


							<td>{{ book.author.username }}</td>


							<td>
								<a href="{{ path('app_delete_book', { 'id': book.id }) }}" class="link-opacity-25-hover">Supprimer</a>


								<a href="{{ path('book_update', {'id': book.id}) }}">update</a>

							</td>
						</tr>
					</tr>
				</td>
			</tbody>
		</tr>
	{% endfor %}
	{# </html></tbody></table><a href="{{ path('book_add') }}" class="btn btn-primary">Ajouter</a></body></html><a href="{{path('trier')}}" class="btn btn-primary">trier</a><h1>le nombre de livres de type Science-Fiction est :{{nb}}</h1> #}
</html>
